@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,800&display=swap');
html {
    scroll-behavior: smooth;
  }

body{
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
}

header{
    background: #111111;
    background: url(../img/background.png) no-repeat center top / cover;
    height: 701px;
    padding-top: 29px;
}
.main-screen {
    display: flex;
    justify-content: space-between;
}


.heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container{
    width: 1170px;
    margin: 0 auto;
}

.logo{
    float: left;
}


.menu{
    padding: 0;
    margin: 0;
    display: block;
    margin-right: 129px;
}
.menu li{
    float: left;
    display: block;
    margin-right: 32px;
    
}
.menu a{
    color: #6B6B6B;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
}

.menu a:hover{
    color: #111111;
    
    transition: 0.1s;
    border-bottom: 2px solid currentColor;
    
}

.nav-block {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.cart {
    float: right;
    
}

.cart:hover {
    
    opacity: 70%;
    transition: all 0.2s ease-in-out;
}

.main-block{
    margin-top: 200px;
    color: #fff;
}
h1 {
    font-size: 40px;
    font-weight: 900;
    padding: 0;
    margin: 0;
}
.main-block h1{
    margin-bottom: 37px;
}

.main-block p{
    font-size: 20px;
    font-weight: 200;
    margin-bottom: 37px;

}

.wrapped-main-block {
    width: max-content;
}

.arrow {
    display: block;
    margin: auto;
}
.arrow:hover{
    transition: all 0.3s ease;
    
    padding-top: 10px;
}

.catalog {
    background: url(../img/background-catalog.jpg);
    height: 744px;
}
h2 {
    font-size: 30px;
    font-weight: 900;
    padding: 0;
    margin: 0;
}
.catalog h2 {
    padding-top: 66px;
    padding-bottom: 66px;
}

.good {
    display: block;
    width: 300px;
    height: 471px;
    background-color: #fff;
    border-radius: 7px;
    box-shadow: 0 0 28px -5px #111111;
    
    
}
.wrapped-catalog {
    display: flex;
    justify-content: space-between;
}

.sale {
    
    width: max-content;
    background-color: #111111;
    transform: rotate(-45deg);
    padding: 2px;

}

.sale p {
    color: #fff;
    font-size: 10px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
}

.catalog img {
    display: block;
    margin: auto;
    margin-top: 37px;
}
